{#
/**
 * @file
 * Include theme for Footer
 *
 */
#}

{% if page.footer %}
  <footer id="footer" role="contentinfo" class="footer">
    <div class="footer-content">
	    {{ page.footer }}
      <div class="footer__copyright">
          <p class="copyright-text">© {{ 'now'|date('Y') }} Basestart</p>
      </div>
  	</div>
  </footer>
{% endif %}
