{#
/**
* @file
* Default theme implementation to display a page.
*
* @see template_preprocess()
* @see template_preprocess_page()
* @see template_process()
*/
#}

{% block page %}
  <div id="page" role="document">
    {% block header %}
      {% include directory ~ '/templates/base/header.html.twig' %}
    {% endblock header %}

    {% block breadcrumbs %}
      {{ drupal_breadcrumb() }}
    {% endblock breadcrumbs %}

    {% block content %}
      <main id="main" role="main" class="main">

        {% block highlight %}
          {% include directory ~ '/templates/highlighted/highlighted.html.twig' %}
        {% endblock highlight %}

        {# Skip to main content #}
        <a name="main-content" id="main-content" tabindex="-1"
        
        {% block content_main %}
          <section id="content-top" class="content-top">

            {% if page.content %}
              <div class="content">
                {{ page.content }}
              </div>
            {% endif %}

            {% if page.sidebar %}
              <aside role="complementary" class="sidebar">
                {{ page.sidebar }}
              </aside>
            {% endif %}
        
          </section>
        {% endblock content_main %}

        {% block content_bottom %}
          {% if page.content_bottom %}
            <section id="content-bottom" class="content-bottom">
              {{ page.content_bottom }}
            </section>
          {% endif %}
        {% endblock content_bottom %}

      </main>
    {% endblock content %}

    {% block footer %}
      {% include directory ~ '/templates/base/footer.html.twig' %}
    {% endblock footer %}
  </div>
{% endblock page %}