{#
/**
 * @file
 * Default theme implementation for highlighted.
 *
 * Available variables:
 * - highlighted: Highlighted status mwessage.
 *
 * @ingroup themeable
 */
#}

{% set published = node.status.value %}

{% if published == '0' %}
  <div class="is-unpublished">
    {{ 'Unpublished'|t }}
  </div>
{% endif %}

{% if page.highlighted %}
  <div id="highlighted" class="highlighted">
    {{ page.highlighted }}
  </div>
{% endif %}