{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}


{% if page.breadcrumb %}
  <div id="breadcrumb-container-basic">
    <div id="breadcrumb" class="breadcrumb">
      {{ page.breadcrumb }}
    </div>
  </div>
{% endif %}
