{#
/**
 * @file
 * Include theme for Admin Tabs and Admin Messages
 *
 */
#}

{% if logged_in %}
	{% if page.admin_tabs %}
		<div id="admin-tabs" class="admin-tabs">
			{{ page.admin_tabs }}
		</div>		
	{% endif %}
{% endif %}